<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangkun.mapper.EmpMapper">

    <resultMap id="getAllEmpAndDeptSelect" type="emp">
        <id column="emp_id" property="empId"/>
        <result column="emp_name" property="empName"/>
        <result column="sex" property="sex"/>
        <result column="entry_date" property="entryDate"/>
        <result column="position" property="position"/>
        <result column="age" property="age"/>
        <result column="salary" property="salary"/>
        <result column="dept_id" property="deptId"/>
        <association property="dept"
                     column="dept_id"
                     select="com.wangkun.mapper.DeptMapper.getDeptById"></association>
    </resultMap>
    <!--List<EmpAndDeptVo> getAllEmp();-->
    <select id="getAllEmp" resultMap="getAllEmpAndDeptSelect">
        select *
        from t_emp
    </select>

    <!--Boolean updateEmp(@Param("emp") Emp emp);-->
    <update id="updateEmp">
        update t_emp
        set emp_name   = #{emp.empName},
            sex        = #{emp.sex},
            entry_date = #{emp.entryDate},
            position   = #{emp.position},
            age        = #{emp.age},
            salary     = #{emp.salary},
            dept_id    = #{emp.deptId}
        where emp_id = #{emp.empId}
    </update>

    <!--Boolean delEmpByIds(@Param("ids") List<Integer> ids);-->
    <delete id="delEmpByIds">
        delete
        from t_emp
        where
        <foreach collection="ids" item="empId" separator="or">
            emp_id = #{empId}
        </foreach>
    </delete>

    <!--Boolean insertEmp(@Param("emp") Emp emp);-->
    <insert id="insertEmp">
        insert into t_emp
        values (null, #{emp.empName}, #{emp.sex}, #{emp.entryDate}, #{emp.position}, #{emp.age}, #{emp.salary},
                #{emp.deptId})
    </insert>

    <!--List<Emp> search(@Param("emp") Emp emp);-->
    <select id="search" resultMap="getAllEmpAndDeptSelect">
        select * from t_emp
        <where>
            <if test="emp.empName != null and emp.empName != ''">
                emp_name like concat('%', #{emp.empName}, '%')
            </if>
            <if test="emp.deptId != null and emp.deptId != ''">
                and emp.deptId like concat('%', #{emp.deptId}, '%')
            </if>
            <if test="emp.position != null and emp.position != ''">
                and emp.position like concat('%', #{emp.position}, '%')
            </if>
        </where>
    </select>

</mapper>
