<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangkun.mapper.UserMapper">

    <!--List<User> getAllUser(User user);-->
    <select id="getAllUser" resultType="user">
        select *
        from t_user
        <where>
            <if test="user.userName != null and user.userName != ''">
                user_name like CONCAT('%', #{user.userName}, '%')
            </if>
            <if test="user.address != null and user.address != ''">
                address like CONCAT('%', #{user.address}, '%')
            </if>
        </where>
    </select>

    <!--Boolean updateUser(@Param("user") User user);-->
    <update id="updateUser">
        update t_user
        set user_name     = #{user.userName},
            sex           = #{user.sex},
            age           = #{user.age},
            identity_card = #{user.identityCard},
            email         = #{user.email},
            address       = #{user.address},
            status        = #{user.status},
            create_time   = #{user.createTime}
        where user_id = #{user.userId}
    </update>

    <!--Boolean insertUser(@Param("user") User user);-->
    <insert id="insertUser">
        insert into t_user
        values (null, #{user.userName}, #{user.sex}, #{user.age}, #{user.identityCard}, #{user.email}, #{user.address},
                #{user.status}, #{user.createTime})
    </insert>
    <!--Boolean delByIds(@Param("ids") ArrayList<Integer> ids);-->
    <delete id="delByIds">
        delete from t_user where
        <foreach collection="ids" item="userId" separator="or">
            user_id = #{userId}
        </foreach>
    </delete>
</mapper>
